################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MinecraftLauncher/obj
/.vs
/MinecraftLauncher/bin/Debug
/MinecraftLauncher/bin/Release
